<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
  matTooltip="{{currentUser.username}}">
  <img class="img-profile rounded-circle" src="../../../../../assets//images/nopictureuser.png">
</button>
<mat-menu #menu="matMenu">
  <div class="dropdown-item d-flex align-items-center" matTooltip="{{currentUser.username}}">
    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" src="../../../../../assets/images/nopictureuser.png" alt="">
    </div>

    <div class="font-weight-bold">
      <div class="text-truncate">{{currentUser.firstName}}</div>
      <div class="small text-gray-500">{{currentUser.username}}</div>
    </div>
  </div>
  <mat-divider></mat-divider>
  <button mat-menu-item disabled>
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="logout()">
    <i class="fas fa-sign-out-alt fa-fw text-red"></i>
    <span class="drop-list-icon">{{ 'LOG_OUT' | translate }}</span>
  </button>
</mat-menu>