.side-bar
{
    // min-width:60px;
    // width: 270px;
    background: #1d1d1d;// #2c2e3e;
}

.container-content-logado{
  margin-left: 240px;
}

.container-content-nao-logado{
  margin-left: 0px !important;
}

@media screen and (max-width: 600px) {
	.sigsidenav-sidenav-content {
		margin-left: 10px !important;
	  }
}