<div class="sidebar_menu" [@onSideNavChange]="sidebarState">
  <mat-nav-list class="menu-list">
    <ng-container *ngIf="defaultRoutes">
      <mat-list-item [busyIf]="isLoading" *ngFor="let item of defaultRoutes" mat-list-item (click)="navigationSidenav?.close()"
        [routerLink]="[item.route]" routerLinkActive="list-item-active">
        <mat-icon matListIcon class="nav-list-icon" [@iconAnimation]="sidebarState">{{item.icon}}</mat-icon>
        <span class="label" [@labelAnimation]="sidebarState">{{item.title}}</span>
      </mat-list-item>

    </ng-container>
  </mat-nav-list>
</div>

