<!-- <ng-select bindLabel="name" placeholder="Select item" appendTo="body" [multiple]="false" [clearable]=false
  [(ngModel)]="selectedLanguage" (change)="getValues($event)">

  <ng-option [value]="item.id" *ngFor="let item of items">
    <img [src]="item.image" width="20" height="20" loading="lazy">
  </ng-option>
</ng-select> -->

<div class="nav-item dropdown">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" matTooltip="">
    <img class="" width="20" height="20" loading="lazy"
      src="../../../../assets//images//flags/{{selectedLanguage.image}}">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let item of items" (click)="changeLanguage(item)">
      <img class="" width="25" height="25" src="../../../../assets//images//flags/{{item.image}}" alt="">
      <span class="drop-list-icon"> {{ item.name | translate }}</span>
    </button>
  </mat-menu>
</div>
